<Configuration status="WARN">
	<Appenders>
		<!-- Appender de type Console nommé 'Console'-->
			<Console name="Console" target="SYSTEM_OUT">
				<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			</Console>
	</Appenders>
	<Loggers> 
			<Root level="trace">
				<AppenderRef ref="Console"/> <!-- log dans l'appender nommé 'Console'-->
			</Root>
	</Loggers>
</Configuration>